<a href="https://colab.research.google.com/github/tier3guy/.cpp-Files-from-Apna-College/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas Tutorial**

Pandas is an open source Python package that is most widely used for data science/data analysis and machine learning tasks. It is built on top of another package named Numpy, which provides support for multi-dimensional arrays. As one of the most popular data wrangling packages, Pandas works well with many other data science modules inside the Python ecosystem.


**Pandas is used to analyze data.**

It has functions for analyzing, cleaning, exploring, and manipulating data.Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

In [1]:
# importing pandas under pd alias
import pandas as pd

In [2]:
# Creating a sample dictionary
__student_markings = {
    'Name' : ['Avinash', 'Abhijeet', 'Elina', 'Rohit', 'Kamya', 'Laraib', 'Viran'],
    'Percentile' : [85, 92, 90, 82, 50, 85, 100]
}

# Creating a data frame for a dictionary '__student_markings'
data__framing = pd.DataFrame(__student_markings)
print(data__framing)

       Name  Percentile
0   Avinash          85
1  Abhijeet          92
2     Elina          90
3     Rohit          82
4     Kamya          50
5    Laraib          85
6     Viran         100

In the above data-framing indexing are introduced automatically.

**Pandas Series**

A pandas is series is like a column in a table. It is a one-dimensional array.

In [6]:
# Creating an One-d array
__one_d_array = ['Avinash', 'B.Tech', 'Information Technology', 'Narula Institute of Technology', 'Kolkata']

# Creating a series of that array.
__a_series = pd.Series(__one_d_array)

print(__a_series)

0                           Avinash
1                            B.Tech
2            Information Technology
3    Narula Institute of Technology
4                           Kolkata
dtype: object

These indexes (0, 1, 2..) are called Labels. These helps us to retrieve a specific data.

In [7]:
print(__a_series[0])

Avinash

We can create our own indexing by passing an indexing array.

In [13]:
__a_series = pd.Series(__one_d_array, index = ['a', 'b', 'c', 'd', 'e'])
print(__a_series)

a                           Avinash
b                            B.Tech
c            Information Technology
d    Narula Institute of Technology
e                           Kolkata
dtype: object

In [11]:
print(__a_series['e'])

Kolkata

Till now we have passed array as a series but we can also pass a **Dictionary as a Series** where key will act as an Label.

In [16]:
__a_dictionary = {
    'Avinash' : 85,
    'Abhijeet' : 92,
    'Rohit' : 82,
    'Elina' : 90
}
__a__dictionary_series = pd.Series(__a_dictionary)
print(__a__dictionary_series)

Avinash     85
Abhijeet    92
Rohit       82
Elina       90
dtype: int64

In [17]:
print(__a__dictionary_series['Avinash'])

85